.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex;
  transition: all 0.3s ease-in-out;
}

.empty {
  /* color: white; */
  margin: 0 auto;
}

.dark {
  background-color: #1e293b;
  color: #d1d5db;
}

.light {
  background-color: #d1d5db;
  color: #1e293b;
}
