.navbar {
  /* background-color: #1e293b; */
  padding: 10px 50px;
  height: 50px;
  @media (max-width: 576px) {
    height: 100px;
    padding: 10px 0;
  }
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.dark {
  background-color: #1e293b;
  color: #d1d5db;
}

.light {
  background-color: #d1d5db;
  color: #1e293b;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  background-color: inherit;
  align-items: center;
  height: 100%;
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 10px;
  }
  gap: 20px;
}

.navItem {
  margin: 0;
  background-color: inherit;
  height: 100%;
}

.navLink {
  text-decoration: none;
  /* color: #d1d5db; */
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  background-color: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinkActivedark {
  color: #ffd700;
}

.navLinkActivelight {
  color: #b31312;
}

.navLink:hover {
  text-decoration: underline;
}

.appActions {
  display: flex;
  gap: 20px;
  background-color: inherit;
}

.actionsItem {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  /* color: #d1d5db; */
}

.userName {
  font-weight: 600;
}

.actionsItem > * {
  background-color: inherit;
  /* color: #d1d5db; */
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateX(5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
}
