:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #121212;
  --surface: #121212;
  --error: #cf6679;
  --warning: #f39c12;
  --on-background: #ffffff;
  --on-background-grey: #c7c7c7;
  --on-surface: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background-color: #334155; */
  transition: all 0.1s ease-in-out;
}

.dark {
  background-color: #1e293b;
  color: #d1d5db;
}

.light {
  background-color: #d1d5db;
  color: #1e293b;
}
